@font-face {
    font-family:xena;
    src: url(ressources/font/xena/Xena.ttf);
}

@font-face {
    font-family: imFellEnglish;
    src: url(ressources/font/im-fell-english/IMFeENrm28P.ttf);
}
:root {
    --prim  : #850606;
    --sec   : #E8F9FD;
    --tert  : #59CE8F;
    --quart  : #000000;
}

html { 
    width: 100%;  
    height: 100%;   
    
}

body {    
    margin: 0; 
    display: flex;  
    flex-direction: column;
    color: var(--quart);
    font-size: 18px;
    font-family: imFellEnglish;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--tert);
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
    font-family: xena, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5em;
    margin: 0;
}

h3 {
    font-size: 1.5em;    
    margin:0;
}

a svg {
    width: 25px;
}

#acceuil {
    background-image: url(ressources/images/Fond\ rouge.jpeg);  
    background-size: cover;
    color: var(--tert);
}

.container {
    width: 1100px;
    margin: 0 auto;
}

#flexHeader {
    display: flex;
    justify-content:space-between;
    align-items: center;    
    column-gap: 2em;
}

#logo {
    flex-basis: 150px;
}

.listeHorizontal {
    display: flex;
    gap: 1em;
    list-style-type: none;
    flex-wrap: wrap;
}

.aFlex {
    display: flex;
    column-gap: 1em;
}

#presentation {
    position: relative; 
    color: var(--sec);
   
}

#presentation::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(ressources/images/Kirov.png);   
    background-size: cover;  
    opacity: 0.75;
    
}



.flexArticle{  
    position: relative;    
    display: flex;    
    column-gap: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 0;
    
}   

.textArticle {
    flex: 1 1 60%;
    font-size: 1.2em;   
}
.imgArticle{
    flex: 0 1 40%;
}
#textPresentation {
    text-shadow: 5px 5px 4px var(--prim);
}

/* A qui s'adresse ce jeu ? */
#public {
   position: relative;
   color: var(--quart);
}

#public::before { 
    content: "";
    background-image: url(ressources/images/avatar.png);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    opacity: 0.25;
}
#imgPublic img {
    width: 200px;    
}
/* Témoignage */

#temoignages {
    background-color: var(--quart);
    color: var(--sec);
    padding: 20px 0; 
    position: relative;
    min-height: 425px; 
    display: flex;
    align-items: center;  
    z-index: 2;
}

#temoignages::before {
    content: "";
    background-image: url(ressources/images/Invocation.jpeg);
    background-size:cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    opacity: 0.25;
    z-index: 1;
    
}

#temoignage {
    position: relative;
    z-index: 2;
}


#auteurTem {
    font-style: italic;
    font-size: 0.8em;
}

#buttons {
    display: flex;
    justify-content: center;  
}

#temoignages a {
    margin-top: 1em;
    position: relative;
    z-index: 3; 
    padding: 10px;    
    color: var(--prim);      
    background-color: var(--sec);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.55);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.55);
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.55);
}
#temoignages a:hover{
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75) inset;  
}

/* FAQ */

#FAQ {
    background-image: url(ressources/images/Valdemar_Atterdag_brandskattar_Visby_\(1882\).jpg);
}

#FAQContainer {
    background-color: var(--sec);
    margin-top: 0;
    padding: 20px;
}


#FAQ h3 {
    font-size: 18px;
    font-family: imFellEnglish;
}

footer {
    background-image: url(ressources/images/Fond\ rouge.jpeg);  
    background-size: cover;    
    color: var(--tert);
}






@media screen and (max-width :1130px ) {
    .container {
        width: 700px;
    }
    h1 {
        font-size: 2.0em;        
    }
    h3{
        font-size: 1.3em;  
    }

    
}

@media screen and (max-width :730px ) {
    .container {
        width: 450px;
    }

    .hiddenLowScreen{
        display: none;
    }
    .imgArticle {
        display:none;
    }
    
    
}
@media screen and (max-width :460px ) {
    .container {
        width:90%;
    } 
    .listeHorizontal{
        flex-direction: column;
        display: none;
    }

    body{
        font-size: 15px;
    }
    
}
